*{
    padding: 0;
    margin: 0;
    top: 0;
}

.botones_accesso{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
}

.botones_accesso button{
    width: 120px;
    text-align: center;
    position: relative;
}

@media (min-width: 576px){
    .card-group {
        display: flex;
        padding: 20px;
        flex-flow: row wrap;
    }
}

.card_inicio{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.card_inicio .cards{
    display: flex;
    align-items: center;
}
.card_inicio .cards p{
    font-size: 2em;
    color: gray;
    padding-left: 20px;
    padding-block-start: 2px;
}

.card-footer{
    text-align: center;
    align-items: center;
    align-content: center;
}
#views_report{
    padding: 20px;
}